<div hidden class="fixed inset-0 w-7/12 lg:block">
    <span class="absolute left-6 bottom-6 text-sm">Video by MART PRODUCTION from <a href="https://www.pexels.com/" target="blank" title="Pexels">Pexels</a></span>
    <video class="w-full h-full object-cover" loop autoplay src="@VideoSource" poster="images/bg.jpg"></video>
</div>