 @page "/forgotten/password"
@layout NestedLayout

<div class="py-6">
    <div>
        <TextBoxBase 
            @ref=@ForgotPasswordEmailTextBox
            @bind-Value=@ForgotPassword
            Placeholder="Your email ?"
                     CssClass="w-full py-3 px-6 ring-1 ring-gray-300 rounded-xl placeholder-gray-600 bg-transparent transition disabled:ring-gray-200 disabled:bg-gray-100 disabled:placeholder-gray-400 invalid:ring-red-400 focus:invalid:outline-none" />
    </div>

    <div class="mt-6">
        <ButtonBase 
            @ref=@SubmitButton
            OnClick=@ForgotPasswordAsync
            Label="Reset"
            CssClass="w-full px-6 py-3 rounded-xl bg-sky-500 transition hover:bg-sky-600 focus:bg-sky-600 active:bg-sky-800" />
        <a href="/signup" type="reset" class="w-max p-3 -ml-3">
            <span class="text-sm tracking-wide text-blue-600">Create new account</span>
        </a>
    </div>
    <SpinnerBase @ref=@Spinner />
</div>
