
<div class="flex w-64 gap-5">

@foreach(var info in Info)
{

    <div class="">
        <div class="flex flex-col p-4 m-3 w-64 bg-gray-900 rounded-lg ">
      <div class="flex items-center gap-x-3">
        <div class="p-2 bg-gray-800 rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-blue-700">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
                    </svg>
        </div>
        <span class="text-xs font-medium text-green-600">
          @info.Percentage
        </span>
        <div class="p-0.5 rounded-full text-red-700">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         class="w-6 h-6 fill-current text-red-700">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
                </svg>  

        </div>
      </div>
      <div class="text-3xl font-semibold text-white">@info.Value</div>
      <div class="text-sm tracking-wide text-gray-500">@info.Title</div>
    </div>
  </div>  

}
</div>

