@inherits LayoutComponentBase

<div class="2xl:container h-screen m-auto">
    <VideoSectionComponent VideoSource="videos/car-trip.mp4" />
    <div hidden role="hidden" class="fixed inset-0 w-6/12 ml-auto bg-white bg-opacity-70 backdrop-blur-xl lg:block"></div>
    <div class="relative h-full ml-auto lg:w-6/12">
        <div class="m-auto py-12 px-6 sm:p-20 xl:w-10/12">
            <HeaderSectionComponent Text="Welcome to jaunts ! Sign Up" />


            <div role="hidden" class="mt-12 border-t"></div>

            @Body

            <div class="border-t pt-4">
                <div class="space-y-2 text-center">
                    <img src="images/logo.svg" class="w-40 m-auto grayscale" alt="">
                    <span class="block text-sm tracking-wide text-gray-500">Get +50 modern blocks for free next month.</span>
                </div>
            </div>
        </div>
    </div>
</div>


